* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

input {
  outline: none;
  border: none;
}
