@font-face {
  font-family: 'Clicker-Script';
  src: url(../fonts/ClickerScript-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair-Display';
  src: url(../fonts/PlayfairDisplay-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair-Bold';
  src: url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair-Medium';
  src: url(../fonts/PlayfairDisplay-Medium.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}

:root {
  --font-family: 'Playfair-Display';
  --font-bold: 'Playfair-Bold';
  --font-medium: 'Playfair-Medium';
  --second-family: 'Clicker-Script';

  --base-white: #fff;
  --base-black: #000;
  --body-color: #fffefc;
  --bg-btn: #f9c06a;
  --bg-card: #fff9f1;
  --card-hover: #ffeed8;
  --dull-gray: #707070;
  --coffee: #603809;
  --chocco: #24110d;
  --btn-text: #1e1e1e;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: var(--second-family);
  font-size: clamp(8rem, 17vw, 13.75rem);
  font-weight: 400;
  color: var(--base-white);
}

h2 {
  font-family: var(--font-bold);
  font-size: 54px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--coffee);
}

p {
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-weight: 400;
}

section {
  margin-bottom: 82px;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding-inline: 20px;
  margin-inline: auto;
}

@media (max-width: 768px) {
  section {
    margin-bottom: 30px;
  }
}
