.btn {
  display: inline-block;
  padding: 14px 26px;
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 1rem;

  color: var(--btn-text);
  border-radius: 24px;
  background: var(--bg-btn);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: var(--coffee);
  box-shadow: inset 0 0 5px var(--bg-btn);
  color: var(--bg-btn);
}

.header__btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-medium);
  line-height: auto;
  text-decoration: underline;
  color: var(--base-white);
  transition: 0.3s;
}

.header__btn:not(.mod-btn):hover {
  color: var(--bg-btn);
}

.mod-btn {
  height: 48px;
  padding: 14px 27px;
  border-radius: 24px;
  background: var(--bg-btn);
  text-decoration: none;
}

.mod-btn:hover {
  color: var(--bg-btn);
  background: var(--coffee);
  box-shadow: inset 0 0 5px var(--bg-btn);
}

/* ---------------- Burger-btn ---------------------- */
.burger__btn {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: none;
}

.burger__btn-line,
.burger__btn-line::after,
.burger__btn-line::before {
  display: inline-block;
  background: var(--base-white);
  transition: 0.3s;
  border-radius: 5px;
}

.burger__btn-line {
  width: 24px;
  height: 3px;
  position: relative;
}

.burger__btn-line::after,
.burger__btn-line::before {
  content: '';
  width: 12px;
  height: 3px;
  position: absolute;
}

.burger__btn-line::after {
  top: 7px;
  left: 0;
}

.burger__btn-line::before {
  bottom: 7px;
  right: 0;
}

.burger__btn:hover .burger__btn-line,
.burger__btn:hover .burger__btn-line::after,
.burger__btn:hover .burger__btn-line::before {
  width: 24px;
  background: var(--bg-btn);
}

/* ---------------- Burger-exit ---------------------- */
.burger__exit-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 0 3px var(--bg-btn);
}

.burger__exit-line,
.burger__exit-line:after {
  display: inline-block;
  width: 18px;
  height: 3px;
  background: var(--dull-gray);
}

.burger__exit-line {
  position: relative;
  transform: rotate(45deg);
  --start-angle: 45deg;
  transform: rotate(var(--start-angle));
}

.burger__exit-line:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  --start-angle: 90deg;
  transform: rotate(var(--start-angle));
}

.burger__exit-btn:hover .burger__exit-line {
  animation: crossRotate 0.8s ease-in-out forwards;
}

.burger__exit-btn:hover .burger__exit-line::after {
  animation: crossRotate 0.8s ease-in-out 0.15s forwards;
}

@keyframes crossRotate {
  0% {
    transform: rotate(var(--start-angle));
    background-color: var(--dull-gray);
  }
  50% {
    background-color: var(--bg-btn);
  }
  100% {
    transform: rotate(calc(var(--start-angle) + 360deg));
    background-color: var(--bg-btn);
  }
}

/* ---------------- burger__menu-btn ---------------------- */
.burger__menu-btn {
  display: inline-block;
  padding: 5px 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: var(--btn-text);
  background: var(--bg-btn);
  border-radius: 20px;
  border: 1px solid var(--base-white);
}

/* ---------------- recall__slider-btns ---------------------- */

.recall__slider-controll {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}

.recall__control-btn {
  width: 82px;
  height: 82px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-btn);
  z-index: 5;
  pointer-events: all;
}

.recall__control-icon {
  width: 16px;
}

/* ---------------- @media ---------------------- */
@media (max-width: 768px) {
  .burger__btn {
    display: flex;
  }
  .recall__control-btn {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 425px) {
  .recall__control-btn {
    width: 35px;
    height: 35px;
  }
}
