.home {
  width: 100%;
  height: 768px;
  background-image: url(../images/coffee_image.webp);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
}

@media (max-width: 768px) {
  .home {
    background-position: 67.5% center;
  }
}
